{% load static %}

{% load socialaccount %}
<html>

<head>
    <title>Places Remember</title>
    <link type="text/css" href="{% static 'app/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    {% block mainmenu %}
        {% if user.is_authenticated %}
            <div>
                <p>{{ user.username }}</p>
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                <a href="/accounts/logout/">Sign Out</a>
            </div>

        {% else %}
          <h1>Places Remember</h1>
          <p>Веб-приложение, с помощью которого люди смогут хранить свои впечатления о посещаемых местах.</p>
          <hr>

          <a href="{% provider_login_url 'google' %}">Login with Google</a>
          <a href="{% provider_login_url "vk"%}" target="blank">Login with VK</a>
        {% endif %}
    <hr>
    {% endblock mainmenu %}

    {% block content %}
    {% endblock %}

</body>

</html>